$mq-breakpoints: (
    xl: 1440px,
    lg: 1280px,
    md: 1024px,
    tb: 768px,
    sm: 576px,
    xs: 414px) !default;

// Media Queryの設定
@mixin mq($breakpoint: md, $rule: min, $subtraction: false) {
    $breakpoint: map_get($mq-breakpoints, $breakpoint);

    @if $rule==max and $subtraction {
        $breakpoint: $breakpoint - 0.0625;
    }

    @media screen and (#{$rule}-width: $breakpoint) {
        @content;
    }
}

:root {
    // Colors
    --color-dark: #303032;
    --color-light: #e9eaed;
    --color-red: #ea4080;
    --color-black: #020200;

    // fonts
    --font-main: 'Montserrat', sans-serif;
}

html,body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: var(--font-main);
}

p {
    line-height: 1.8em;
}

a {
    color: var(--color-light);
    
    &:hover {
        text-decoration: underline;
    }
}

ul {
    padding-left: 18px;

    li {
        margin: 8px 0;
    }
}

hr {
    width: 100%;
    border-bottom: 1px solid var(--color-light);
}

pre {
    margin: 16px auto;
    max-width: calc(100vw - 60px);
    overflow-x: auto;
    padding: 12px;
    background-color: var(--color-black)!important;
    
    code {
        line-height: 1.4em;
        font-size: 1.2em;
    }
}

// Scrollbar
pre::-webkit-scrollbar {
    height: 6px;
}
pre::-webkit-scrollbar-track {
    background-color: var(--color-black);
}
pre::-webkit-scrollbar-thumb {
    background-color: var(--color-light);
}

ul li code, p code {
    padding: 2px 4px;
    background-color: var(--color-black);
    font-size: 1.2em;
    color: var(--color-red);
}

header {
    position: fixed;
    top: 0;
    z-index: 50;
    width: 100vw;
    background-color: var(--color-light);
    padding: 12px 0;
    display: flex;
    align-items: baseline;
    justify-content: space-around;

    @include mq(sm) {
        padding: 16px 0;
    }

    #title {
        display: flex;
        align-items: baseline;
        text-decoration: none;
        font-size: 1.2em;
        font-weight: bold;
        color: var(--color-dark);

        @include mq(sm) {
            font-size: 1.4em;
        }

        .icon {
            width: 24px;

            @include mq(sm) {
                width: 32px;
            }
        }
    }

    nav {
        position: fixed;
        top: 44px;
        right: 20px;
        padding: 12px;
        background-color: var(--color-black);

        display: none;
        flex-direction: column;
        align-items: flex-start;
    
        @include mq(sm) {
            position: initial;
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: transparent;
            color: var(--color-dark);
        }
        
        a {
            margin: 8px 0;
            font-size: 1em;
            color: var(--color-light);
            text-decoration: none;
            font-weight: bold;

            @include mq(sm) {
                margin: 0 8px;
                color: var(--color-dark);
            }
        }
    }

    .hamburger {
        position: fixed;
        top: 18px;
        right: 24px;
        display: block;
        width: 24px;
        height: 20px;
        outline: none;
        border: none;

        @include mq(sm) {
            display: none;
        }

        .bar {
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--color-dark);

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }

            &:nth-child(3) {
                top: 100%;
                transform: translateY(-100%);
            }
        }
    }

    .hamburger_bg {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        display: none;
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.5;
    }
}

.section {
    width: 100vw;
    margin-top: 120px;

    .container {
        width: 100vw;
    }
}

.home {
    margin: 48px auto;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(sm) {
        margin: 72px auto;
        width: 60%;
    }

    @include mq(md) {
        width: 480px;
    }

    .instruction {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            margin: 12px 0;
            font-size: 2em;
        }

        p {
            margin: 6px 0;
            font-size: 1.2em;
            text-align: center;
            line-height: 1.6em;
        }

        img {
            margin-top: 24px;
            width: 60%;

            @include mq(sm) {
                width: 50%;
            }
        }
    }

    .quick-links {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include mq(sm) {
            flex-direction: row;
        }

        a {
            margin: 12px 0;
            width: 100%;
            background-color: var(--color-light);
            border-radius: 36px;
            padding: 10px 14px;
            text-align: center;
            color: var(--color-dark);
            font-weight: bold;
            font-size: 1.2em;
            text-decoration: none;

            &:hover {
                filter: brightness(1.1);
            }

            @include mq(sm) {
                margin: 0 6px;
                width: initial;
            }
        }
    }
}

.docs {
    margin: 28px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(sm) {
        margin: 48px auto;
        width: 50%;
    }

    @include mq(md) {
        width: 40%;
    }

    h1 {
        font-size: 2em;
    }
}

.doc {
    margin: 28px auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;

    @include mq(sm) {
        margin: 48px auto;
        width: 90%;
        grid-template-columns: 1fr 50% 1fr;

    }

    @include mq(md) {
        width: 80%;
    }

    .pages {
        position: relative;
        display: none;
        padding: 0 24px;
        height: 100vh;

        @include mq(sm) {
            display: flex;
            flex-direction: column;
        }

        .wrapper {
            position: fixed;
            display: flex;
            flex-direction: column;

            a {
                margin: 5px 0;
                font-size: 0.95em;
                font-weight: bold;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }

    .content {
        flex-grow: 1;
        padding: 0 28px;

        .title {
            margin: 0;
            font-size: 2em;
        }

        img {
            width: 100%;
        }
    }

    .toc {
        position: relative;
        display: none;
        height: 100vh;
        padding: 0 24px;

        @include mq(sm) {
            display: flex;
            flex-direction: column;
        }

        
        .wrapper {
            position: fixed;
            display: flex;
            flex-direction: column;

            .headtxt {
                text-align: center;
            }

            .wrapper1 {
                display: flex;
                flex-direction: column;
    
                .wrapper2 {
                    margin: 4px 0;
                    display: flex;
                    flex-direction: column;
    
                    a {
                        margin: 4px;
                        font-weight: bold;
                        font-size: 0.95em;
                        text-decoration: none;
    
                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .wrapper3 {
                        margin: 4px 0 4px 10px;

                        a {
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }

    .pages_for_hamburger {
        position: fixed;
        top: 44px;
        right: 20px;
        z-index: 50;
        padding: 12px;
        background-color: var(--color-black);

        display: none;
        flex-direction: column;
        align-items: flex-start;

        @include mq(sm) {
            display: none!important;
        }

        a {
            margin: 8px 0;
            font-size: 0.95em;
            font-weight: bold;
            text-decoration: none;
        }
    }
}